# Object files
*.o
*.obj
*.elf

# Linker output
*.ilk
*.exp

# Patch and wiggle related residdue
*.rej
*.porig

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# datadump
/tools/ddump/*

# Text editor remnants
*.swp
.vscode/*
.idea/*

# General project-specific ignores
doxygen/doxygen/*
build/*
*.dump
*.mio0
*.z64
*.map
*.sav
.assets-local.txt
sm64_save_file.bin
moon64config.txt

imgui.ini

# Assets. Generally ignored, but ones with "custom" in the name are fine.
/levels/**/*.png
/actors/**/*.png
/assets/textures/**/*.png
/assets/**/*.bin
/assets/sound/**/*.m64
/assets/sound/**/*.aiff
!/assets/textures/special/*.png
!/assets/textures/moon/**/*.png
!/assets/textures/icons/*.png
!/levels/**/*custom*.png
!/levels/**/*custom*/**/*.png
!/actors/**/*custom*.png
!/actors/**/*custom*/**/*.png
!/assets/textures/**/*custom*.png
!/assets/textures/**/*custom*/**/*.png
!/assets/sound/**/*custom*.m64
!/assets/sound/**/*custom*/**/*.m64
!/assets/sound/**/*custom*.aiff
!/assets/sound/**/*custom*/**/*.aiff
!/assets/**/*custom*.bin
!/assets/**/*custom*/**/*.bin
